@import "tailwindcss";


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
  
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-border: #e5e7eb;
}
